@model IEnumerable<PlanoContaViewModel>

@{
    ViewData["Title"] = "Plano de Contas";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-lg btn-primary" asp-controller="PlanoConta" asp-action="Cadastrar">Criar item de Plano de Contas</a>
            </div>
        </div>
        <hr />
        @if (Model.Any())
        {
            <div class="mt-3">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr class="text-center">
                            <th class="align-middle">Id</th>
                            <th class="align-middle">Descrição</th>
                            <th class="align-middle">Tipo</th>
                            <th class="align-middle">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
            @foreach (PlanoContaViewModel planoConta in Model)
            {               
                <tr class="text-center">
                    <td class="align-middle">@planoConta.Id</td>
                    <td class="align-middle">@planoConta.Descricao</td>
                    <td class="align-middle">@planoConta.Tipo</td>
                    <td class="align-middle">
                        <a class="btn btn-md btn-outline-info" asp-action="Cadastro" asp-route-id="@planoConta.Id">Editar</a>
                        &nbsp
                        <a class="btn btn-md btn-outline-danger" asp-action="Deletar" asp-route-id="@planoConta.Id">Excluir</a>
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </div>
        }else
        {
            <p>Não há nenhum Plano Conta Cadastrado no momento. <a  asp-controller="PlanoConta" asp-action="Cadastrar" class="btn btn-outline-primary">Cadastre um!</a></p>
        }
    </div>
</div>
